@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
  font-family: 'Open Sans', sans-serif;
	margin: 0;
	box-sizing: border-box;
}
body {
  background-color: #52321F;
}
main {
  min-height: 60vh;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
  background-color: #52321F;
}
.menu {
  background-color: #ffeaa7;
  padding: 7px 15px;
}
nav {
  width: 100%;
	height: 15vh;
	background-color: #ffeaa7;
}
nav img {
	width: 400px;
	padding-top: 10px;
}
nav ul {
	list-style-type: none;
	float: right;
	padding-left: 0;
	margin-top: 10px;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 15px;
  margin-right: 25px;  
  line-height: 110px;
  text-decoration: none;
  text-transform: uppercase;
  color:  #52321F;
  transition: 0.3s;
}
nav ul li a:hover {
  background-color: #52321F;
  color: #ffeaa7;
  text-decoration: none;
}
/* SLIDESHOW  */
.carousel-contaner {
  height: 85vh;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.item { 
  width:100%;
  max-height: 85vh;
}
.carousel-inner .item img {  
  margin: auto;
  width: 100%; 
}
/* O NAS */
.about-us {
  padding: 40px;
  padding-bottom: 0;
  color: #ffeaa7;
}
.row {
  margin-top: 20px;
}
main p {
  padding: 10px;
  font-size: 2rem;
  text-align: justify;
}
.about-us img {
  width: 100%;
  border-radius: 15px;
}

/* STOPKA */
footer {
  color: #e17055; 
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
}
footer p {
  display: inline-block;
}
.divider {
  max-width: 1000px;
  min-height: 1px;
  border: solid 1.5px;
  margin: 0 auto 50px auto;
  color: #ffeaa7;
  margin-top: 50px;
}
.footer-content {
  background-color: #52321F;
  padding: 0 50px 30px 50px;
}
.btn-facebook {
  background-color: #2D4373;
  font-size: 26px;
  padding: 6px 16px;
  color: #FFFFFF;
}
.btn-facebook:visited {
  color: #FFFFFF;
}
.btn-facebook:hover {
  color: #2D4373;
  background-color: #FFFFFF;
}
.copy {
  text-align: left;
  font-weight: 300;
}
/*OFERTA*/
.offer {
  padding: 40px;
  color: #ffeaa7;
}
.offer p, h2 {
  text-align: center;
}
.thumbnail {
  padding: 0;
  margin: 0;
  border: none;
  height: 250px;
  border-radius: 15px;
}
.wrapper {  
  width:  350px;
  height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
.modal-title {
  padding-left: 15px;
  font-size: 30px;
}
.col-md-12 {
  float: none;
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}
#image-gallery .modal-footer{
  display: block;
}
.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
/*KONTAKT*/
.contact {
  height: 65vh;
  color: #ffeaa7;
}
.contact h2{
  text-align: left;
  margin-left: 30px;
}
.contact-wrapper {
  padding-top: 60px;
}
.contact-wrapper h3 {
  font-size: 26px;
}
.contact-wrapper > p, h3{
  padding: 5px;
  text-align: center;
}
